<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00027-app-glbl-http-hlp.interface.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 00027-app-glbl-http-hlp.interface.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                ReactJs Interface
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/shared/interfaces
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    This interface are used by the following classes:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Service
            </td>
            <td>
                00028-app-glbl-settings.service.tsx
            </td>
        </tr>
        <tr>
            <td>
                Service
            </td>
            <td>
                00130-app-glbl-login.service.tsx
            </td>
        </tr>
        <tr>
            <td>
                Service
            </td>
            <td>
                01400-.service.tsx
            </td>
        </tr>
        <tr>
            <td>
                Service
            </td>
            <td>
                01401-.service.tsx
            </td>
        </tr>
    </table>


</body>
</html>