<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00029-app-glbl-settings.context.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 00029-app-glbl-settings.context.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                ReactJs Context
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/shared/contexts
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Please generate the following list of classes, interfaces and functions to implement app-glbl-settings Service:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                00026-app-tbl-def.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                00027-app-glbl-http-hlp.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Class
            </td>
            <td>
                00028-app-glbl-settings.service.tsx
            </td>
        </tr>
        <tr>
            <td>
                Context
            </td>
            <td>
                00029-app-glbl-settings.context.tsx
            </td>
        </tr>
    </table>


</body>
</html>