<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00122-routershared.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 00122-routershared.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                ReactJs component
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/shared/RouterParser
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Please generate the following list of classes, interfaces and componeents to implement URL parser:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                function declaration
            </td>
            <td>
                00120-routercollection.tsx
            </td>
        </tr>
        <tr>
            <td>
                class, constant and function declaration
            </td>
            <td>
                00122-routershared.tsx
            </td>
        </tr>
        <tr>
            <td>
                class, constant and function declaration
            </td>
            <td>
                00124-routerurltree.tsx
            </td>
        </tr>
    </table>
    <h4>
        Here is a sample:
    </h4>



</body>
</html>