<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 01620-Ldlg.component.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 01620-Ldlg.component.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                ReactJs component
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/components/you-view/ldlg
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Please generate the following list of css classes, interfaces and componeents to implement List Form Dialog for the given view:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                01618-Ldlg-state.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                01619-Ldlg-props.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                01620-Ldlg.component.tsx
            </td>
        </tr>
    </table>


</body>
</html>