<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00144-app-glbl-chngpswd.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 00144-app-glbl-chngpswd.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                ReactJs component
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/shared/components/app-glbl-chngpswd
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
        <tr>
            <td>
                Material UI script
            </td>
            <td>
                app-glbl-chngpswd.tsx.t4
            </td>
        </tr>
        <tr>
            <td>
                Fluent UI script
            </td>
            <td>
                app-glbl-chngpswd.fluentui.tsx.t4
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Please generate the following list of interfaces and componeents to implement SignIn/SignOut functionality:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                00116-app-glbl-chngpswd.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                00118-app-glbl-register.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Service
            </td>
            <td>
                00130-app-glbl-login.service.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                00135-app-glbl-register.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                00140-app-glbl-login.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                00142-app-glbl-logout.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                00144-app-glbl-chngpswd.tsx
            </td>
        </tr>
    </table>



</body>
</html>