<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00260-autocomplete.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 00260-autocomplete.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                ReactJs component
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/shared/autocomplete
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
        <tr>
            <td>
                Fluent UI script
            </td>
            <td>
                autocomplete.fluentui.tsx.t4
            </td>
        </tr>

    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Please generate the following list of css classes, interfaces and componeents to implement autocomplete control for Edit data forms:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                component
            </td>
            <td>
                00260-autocomplete.tsx
            </td>
        </tr>
    </table>


</body>
</html>