<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 02120-Dashboard.component.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 02120-Dashboard.component.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                component
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:red">Deprecated</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/components/{this-is-my-view}/dshbd
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View-Model level
            </td>
        </tr>
        <tr>
            <td>
                Material UI script
            </td>
            <td>
                Dashboard.component.tsx.t4
            </td>
        </tr>
        <tr>
            <td>
                Fluent UI script
            </td>
            <td>
                Dashboard.component.fluentui.tsx.t4
            </td>
        </tr>
    </table>

    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Please generate the following list of css classes, interfaces and components to implement the page with Lform, o2m and Rrouting in the child windows for the given view:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                02119-Dashboard-state.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                css classes
            </td>
            <td>
                02120-Dashboard.component.css
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                02120-Dashboard.component.tsx
            </td>
        </tr>
    </table>

    In addition, all direct and indirect details must have already been created:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                02018-Rdlist-state.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                02019-Rdlist-props.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                02020-Rdlist.component.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                01518-Edlg-state.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                01519-Edlg-props.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                01520-Edlg.component.tsx
            </td>
        </tr>

    </table>

</body>
</html>