<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 02200-Checkedmodel.component.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 02200-Checkedmodel.component.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                Component
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/components/you-view/components/chkform
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View level
            </td>
        </tr>
        <tr>
            <td>
                Material UI script
            </td>
            <td>
                Checkedmodel.component.tsx.t4
            </td>
        </tr>
        <tr>
            <td>
                Fluent UI script
            </td>
            <td>
                Checkedmodel.component.fluentui.tsx.t4
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    <p>
        Current script must be applied for the <strong>"aspnetmodelView"</strong> only
    </p>
    Please generate the following list of css classes, interfaces and componeents to implement List Form with permissions for the given view:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                02198-Checkedmodel-state.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                02199-Checkedmodel-props.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                css class
            </td>
            <td>
                02200-Checkedmodel.component.css
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                02200-Checkedmodel.component.tsx
            </td>
        </tr>
    </table>


</body>
</html>