<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 02040-Rdrouting.component.tsx</title>
</head>
<body>
    <h3>(Context level) Readme for 02040-Rdrouting.component.tsx</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                ReactJs component
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /src/components/you-view
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Please generate the following list of css classes, interfaces and components to implement React Js navigation chain with the given view at the head:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                02039-Rdrouting-props.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                02040-Rdrouting.component.tsx
            </td>
        </tr>
    </table>

    In addition, all direct and indirect details must have already been created:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                02018-Rdlist-state.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                02019-Rdlist-props.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                02020-Rdlist.component.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                01518-Edlg-state.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                01519-Edlg-props.interface.tsx
            </td>
        </tr>
        <tr>
            <td>
                Component
            </td>
            <td>
                01520-Edlg.component.tsx
            </td>
        </tr>

    </table>


</body>
</html>